.body{
}

.gallery {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
   

.gallery-image{
    width: 550px;
    height: 400px;
}